doctype html
html
 
  head
    meta(name='description', content=layoutTitle)
    meta(name='author', content='Parsh Toora')
    meta(name='keywords', content='Testing,Quality Assurance,Strategy')
    meta(property='og:image' content='https://testing-strategy.herokuapp.com/images/favicon.ico')
    meta(property='og:title' content=layoutTitle)
  
    title= layoutTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src='/javascripts/start.js')
  body
    if title === undefined
      h1= layoutTitle
    else
      h1= layoutTitle + ' - ' + title
    a(class='menu home' href='/') Home
    d &nbsp;
    a(class='menu' href='http://www.linkedin.com/in/parshotam-t-7bab76129') Contact
    h3

    block content

 
  h3(id='footer' style='text-align:center;font-size:small') Page Views: #{hitCount} 🙏 
